body {
  margin: 0;
  background-color: rgb(246, 247, 248);
  width: 100%;
  height: 100%;
}

.header-add-task {
  margin-top: 110px;
  margin-bottom: 48px;
  color: #000;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 73.2px */
  margin-left: 350px;
}

.Add-task {
  display: flex;
  margin-left: 250px;
}

/* Add-task left */
.Add-task-left {
  height: 376px;
  width: 440px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin-left: 96px;
}

.title-container-add-task {
  display: flex;
  height: 96px;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  align-self: stretch;
  color: #2a3647;
  width: 100%;
  height: 24px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.title:after {
  content: "*";
  color: #ff8190;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
}

.title-input {
  flex: 1 0 0;
  margin-top: 8px;
  margin-bottom: 4px;
  display: flex;
  padding: 12px 21px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.required-info {
  width: 119px;
  height: 12px;
  color: rgba(255, 129, 144, 0);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}

.description-container {
  margin-top: 16px;
  display: flex;
  width: 440px;
  height: 168px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.description {
  align-self: stretch;
  color: var(--Version-2-main-color, #2a3647);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.description-input {
  display: flex;
  height: 84px;
  padding: 18px 16px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: #fff;

  color: var(--Style, #d1d1d1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.input-container {
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;
}

.assigned-to-container {
  margin-top: 16px;
  display: flex;
  width: 440px;
  height: 80px;
  flex-direction: column;
  align-items: flex-start;
}

.assigned-to {
  margin-bottom: 8px;
  width: 112px;
  flex: 1 0 0;
  color: var(--Version-2-main-color, #2a3647);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.assigned-dropdown {
  background-image: url("./img/arrow_down.svg");
  background-repeat: no-repeat;
  background-position: right center;

  display: flex;
  width: 408px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);

  color: var(--black, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.dropdown-content {
  height: 216px;
  width: 100%;
  top: 48px;
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  overflow-y: auto;
  z-index: 1;
}

#selectedContactsContainer {
  width: 100%;
}

.selected-contact {
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contacts {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.contacts-img-initial {
  position: relative;
  width: 32px;
  height: 32px;
}

.contacts-img-initial img {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-delete-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dropdown-checkbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.initials-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-container-subtask {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-container-subtask img {
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.input-container-subtask input:focus {
  outline: none;
}

.input-container-subtask input {
  display: flex;
  width: 100%;
  border: none;
}

.arrow_down {
  top: 6px;
  right: 0px;
  padding: 8px;
  position: absolute;
  cursor: pointer;
  overflow: visible;
  border-radius: 50%;
}

.divider {
  width: 0.001px;
  height: 424px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: var(--Style, #d1d1d1);
  margin: 0 48.25px;
}

/* Add-task right */
.Add-task-right {
  width: 440px;
  height: 416px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.due-date-container {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 24px;
}

.due-date {
  color: var(--Version-2-main-color, #2a3647);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.due-date:after {
  content: "*";
  color: #ff8190;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
}

.due-date-input {
  /* background-image: url(../img/event.svg) !important; */
  background-repeat: no-repeat !important;
  background-position-x: calc(96%) !important;
  background-position-y: center !important;
  display: flex;
  width: 408px;
  height: 24px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: #fff;
  color: var(--Style, #d1d1d1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.due-date-calendar {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

.prio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 24px;
}

.prio {
  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.prio-option-container {
  display: flex;
  width: 440px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.prio-option-container h3 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.button {
  width: 33%;
  font-weight: 400;
  font-size: 20px;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  background-color: white;
  border: 1px solid var(--invalid-color) !important;
  color: var(--tx-color) !important;
  height: 56px;
  border-radius: 10px;
  padding: 16px;
}

.urgent {
  display: flex;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.medium {
  display: flex;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.low {
  display: flex;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.category-container {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 24px;
}

.category {
  color: var(--Version-2-main-color, #2a3647);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.category:after {
  content: "*";
  color: #ff8190;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
}

.category-dropdown {
  display: flex;
  width: 408px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);

  color: var(--Style, #d1d1d1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.category-options {
  max-height: 100px;
  height: 100px;
  width: 100%;
  top: 48px;
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  overflow-y: auto;
  z-index: 1;
}

.category-options label {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */

  display: flex;
  align-items: center;
  height: 34px;
  /*display: block;*/
  padding: 8px;
  cursor: pointer;
}

.category-options label:hover {
  background-color: #f0f0f0;
}

.subtasks-container {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.subtasks-add-task {
  color: var(--Version-2-main-color, #2a3647);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.subtasks-input {
  width: 408px;
  height: 24px;
  padding: 12px 16px;
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.subtask-list {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.subtask-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  display: flex;
}

.subtask-text {
  font-size: 18px;
  font-weight: 600;
}

.add-icon {
  padding: 8px;
  cursor: pointer;
  overflow: visible;
}

.subtask-icon {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  right: 30px;
}

.subImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-subtask-line {
  border-left: 1px solid #d1d1d1;
  height: 30px;
}

/* Bottom */
.clear-and-create-section {
  position: fixed;
  bottom: 0;
  padding: 10px;
  display: flex;
  gap: 16px;
  right: 124px;
}

.clear-button {
  cursor: pointer;
  width: 107.6px;
  height: 57.6px;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid var(--Version-2-main-color, #2a3647) !important;
  background: #f6f7f8;
}

.clear-button h3 {
  color: var(--Version-2-main-color, #2a3647);
  /* Version 2/t6 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.create-task-button {
  cursor: pointer;
  width: 186.2px;
  height: 59.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: #2a3647;
}

.create-task-button h3 {
  color: #fff;

  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 25.2px */
}

.required-legend {
  margin-top: 223px;
  width: 170px;
  height: 27px;
  flex-shrink: 0;
  color: #ff8190;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  color: #000;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.required-legend::before {
  content: "*";
  color: #ff8190;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
}

/* Media queries */
@media (max-width: 768px) {
  .divider img{
    display: none;
  }

  .Add-task-right{
    display: contents;
  }

  .header-add-task {
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: 47px;
    margin-left: 15px;
  }

  .Add-task {
    margin-left: 5px;
    flex-direction: column;
    height: 100vw;
  }

  .Add-task-left {
    height: 188px;
    width: 100vw;
    margin-left: 5px;
  }

  .title-container-add-task, .description-container, .assigned-to-container {
    width: 95vw;
  }

  .assigned-to-container{
    margin-top: 90px;
    margin-left: 5px;
  }

  .description-container {
    height: auto;
    margin-top: 0px;
  }

  .title-input, .description-input, .assigned-dropdown {
    font-size: 16px;
  }

  .description-input {
    height: 42px;
  }

  .assigned-dropdown {
    width: 87vw;
  }

  #selectedContactsContainer {
    display: flex;
    flex-direction: row;
    min-height: 32px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 32px;
  }

  #selectedContactsContainer .initials-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(1.5%, -50%);
    font-size: 14px;
    color: white;
  }

  .input-container-subtask {
    flex-direction: column;
    align-items: stretch;
  }

  .input-container-subtask img {
    padding: 5px;
  }

  .arrow_down {
    top: 0;
    right: 0;
  }

  .divider {
    height: 212px;
    margin: 0 24px;
  }

  .due-date, .prio, .description, .title, .assigned-to, .category {
    font-size: 16px;
  }

  .due-date-container {
    width: 100vw;
    margin-bottom: 8px;
  }

  .due-date-input {
    padding: 8px 21px;
    width: 84vw;
  }

  .prio-option-container {
    flex-direction: row;
    width: 95vw;
  }

  .prio {
    margin-left: 3px;
  }

  .prio-option-container h3 {
    font-size: 16px;
  }

  .button {
    width: 100vw;
    font-size: 16px;
    padding: 12px;
    height: 45px;
  }

  .urgent, .medium, .low {
    padding: 12px 8px;
  }

  .category-container {
    width: 100vw;
  }

  .category, .category-dropdown {
    font-size: 16px;
  }

  .category-dropdown {
    width: 87vw;
  }

  .category-options label {
    font-size: 16px;
  }

  .selected-contact span{
    display: none;
  }

  .subtasks-container {
    width: 95vw;
    min-height: 35vh;
    margin-top: 38px;
    margin-left: 5px;
    gap: 4px;
  }

  .subtasks-add-task {
    font-size: 16px;
    margin-top: 5px;
  }

  .input-container-subtask input{
    width: 84vw;
  }

  .subtasks-input {
    width: 90vw;
    height: 20px;
    padding: 12px 16px;
    font-size: 16px;
  }

  .subtask-text {
    font-size: 16px;
  }

  .input-container-subtask img {
    position: absolute;
    right: 10px;
    margin-top: 4.5px;
    height: 24px;
    width: 24px;
  }

  .clear-and-create-section {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 80px;
    padding: 8px;
    gap: 8px;
    right: 0px;
    width: 100vw;
    background-color: white;
  }

  .clear-button {
    display: none;
  }

  .clear-button h3 {
    display: none;
  }

  .create-task-button {
    padding: 16px;
    margin-right: 15px;
  }

  .create-task-button h3 {
    font-size: 18px;
  }

  .required-legend {
    position: fixed;
    bottom: 95px;
    padding: 8px;
    gap: 8px;
    left: 0px;
    font-size: 14px;
    z-index: 1;
  }

  .required-legend::before {
    font-size: 14px;
  }
}