body {
  margin: 0;
  background-color: rgb(246, 247, 248);
  height: 100%;
}

.head {
  margin-top: 79.5px;
  margin-left: 296px;
  margin-right: 88px;
  display: flex;
  height: 73px;
  justify-content: space-between;
  align-items: center;
}

.head-right {
  width: 508px;
  height: 50px;
  display: flex;
  gap: 32px;
}

.input-container {
  position: relative;
  display: inline-block;
}

.find-task-search {
  display: flex;
  width: 280px;
  height: 32px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--icon, #a8a8a8);
  background: #fff;
}

.vector {
  right: 56px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  stroke-width: 1px;
  stroke: #d1d1d1;
}

.search-icon {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  padding-left: 16px;
}

.add-task-button {
  cursor: pointer;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background: #2a3647;
  width: 162px;
  height: 50px;
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 25.2px */
}

.instance {
  height: 28px;
  width: 252px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  align-self: stretch;
}

.instance h3 {
  margin: 0;
  color: var(--menu-color, #42526e);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
}

.plus-button {
  cursor: pointer;
  display: flex;
  width: 18px;
  height: 18px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid var(--Version-2-main-color, #2a3647);
}

.board-head {
  width: 175px;
  height: 73px;
  color: #000;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 73.2px */
}

.board {
  margin-top: 15.5px;
  margin-left: 296px;
  display: flex;
  height: 600px;
  padding: 0px 64px;
  padding-left: 0;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.await-section,
.to-do-section,
.in-progress-section {
  width: 252px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}

.done-section {
  height: 500px;
  width: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.card-user-story {
  display: flex;
  width: 220px;
  /*height: 212px;*/
  padding: 16px;
  gap: 24px;
  border-radius: 24px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.card-user-story-progress {
  display: flex;
  width: 220px;
  height: 231px;
  padding: 16px;
  gap: 24px;
  border-radius: 24px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  align-items: flex-start;
}

.card-await-feedback {
  display: flex;
  width: 220px;
  height: 183px;
  padding: 16px;
  gap: 20px;
  border-radius: 24px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  align-items: flex-start;
}

.card-user-story-await {
  display: flex;
  width: 220px;
  height: 164px;
  padding: 16px;
  gap: 20px;
  border-radius: 24px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  align-items: flex-start;
}

.card-done {
  display: flex;
  width: 220px;
  height: 212px;
  padding: 16px;
  gap: 24px;
  border-radius: 24px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  align-items: flex-start;
}

.to-do-top,
.in-progress-top {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.await-feedback-top {
  margin: 0;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.technical-task {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 112px;
  height: 19px;
  display: flex;
  padding: 4px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #1fd7c1;
}

.user-story {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 81px;
  height: 19px;
  display: flex;
  padding: 4px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #0038ff;
  color: #fff;

  /* Version 2/body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.card-title {
  margin: 0;
  height: 100%;
  width: 220px;
  align-self: stretch;
  color: var(--Version-2-main-color, #2a3647);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}

.card-content {
  margin: 0;
  align-self: stretch;
  color: var(--icon, #a8a8a8);
  /* Version 2/body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.progress {
  height: 14px;
  width: 214px;
  display: flex;
  padding: 0px 6px 2px 0px;
  align-items: center;
  gap: 11px;
}

.progress-bar {
  border-radius: 8px;
  background: #f4f4f4;
  display: flex;
  width: 128px;
  height: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.progress-fill-in-progress {
  width: 64px;
  height: 8px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--Version-2-main-color, #4589ff);
}

.progress-fill-in-progress-done {
  width: 128px;
  height: 8px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--Version-2-main-color, #4589ff);
}

.subtasks {
  color: #000;

  /* Version 2/t7 */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}

.to-do-bottom {
  width: 220px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.initial-container {
  margin-left: 8px;
  width: 80px;
  height: 32px;
  display: flex;
  align-items: flex-start;
}

.profile-badge {
  position: relative;
  margin-left: -8px;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 45px;
  background: #fff;
}

.profile-badge img {
  width: 34px;
}

.priority-symbol {
  display: flex;
  width: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.priority-symbol-neutral {
  width: 17px;
  height: 6.333px;
  flex-shrink: 0;
}

.priority-symbol-neutral img {
  position: absolute;
}

.priority-symbol-down {
  width: 17px;
  height: 12px;
  flex-shrink: 0;
}

/* Java Script */

#taskModal {
  width: 1116px;
  height: 870px;
  border-radius: 30px;
  background: #fff;
  margin: 0;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
}

.modal-headline {
  margin-top: 64px;
  margin-left: 74px;
  width: 466px;
  height: 78px;
  color: #000;
  margin-bottom: 32px;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 73.2px */
}

#overlay #card-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#card-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.add-task-create-open {
  flex-direction: column;
  align-items: center;
}

.Add-task-content {
  display: flex;
  width: 100%;
}

.Add-task-left-modal {
  height: 376px;
  width: 440px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin-left: 74px;
}

.Add-task-right-modal {
  width: 440px;
  height: 416px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.clear-and-create-section-modal {
  position: fixed;
  bottom: 66px;
  width: 334px;
  height: 56px;
  margin-top: 160px;
  margin-left: 106px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.cancel-button-modal {
  cursor: pointer;
  width: 128.22px;
  height: 58.22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid var(--Version-2-main-color, #2a3647) !important;
  background: #f6f7f8;
}

.cancel-button-modal h3 {
  color: var(--Version-2-main-color, #2a3647);
  /* Version 2/t6 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.create-task-button-modal {
  cursor: pointer;
  width: 185.22px;
  height: 58.22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: #2a3647;
}

.create-task-button-modal h3 {
  color: #fff;
  width: 123px;
  height: 24px;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 25.2px */
}

.required-legend-modal {
  margin-top: 229px;
  margin-right: 270px;
  width: 170px;
  height: 27px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.required-legend-modal::before {
  content: "*";
  color: #ff8190;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
}

.close-modal {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 64px;
  right: 40px;
  cursor: pointer;
}

.close-modal img {
  height: 24px;
  width: 24px;
}

.card-modal {
  height: 835px;
  width: 445px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  /*align-items: flex-end;*/
  gap: 24px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  z-index: 1000;
}

.card-modal-task {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 112px;
  height: 28px;
  display: flex;
  padding: 4px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #0038ff;
  justify-content: center;

  color: #fff;

  /* Version 2/t5 */
  font-family: "Open Sans";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 27.6px */
}

.close-card-modal {
  width: 24px;
  height: 24px;
  padding: 4px;
  right: 40px;
  cursor: pointer;
}

.task-categorie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.card-modal-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.card-modal-title {
  margin: 0;
  align-self: stretch;
  color: var(--black, #000);
  /* Version 2/t1 */
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 73.2px */
}

.card-modal-content {
  margin: 0;
  align-self: stretch;
  color: var(--black, #000);
  /* Version 2/t6 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.card-modal-date {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 25px;
  align-self: stretch;
}

.due-date-card-modal {
  margin: 0;
  color: var(--Version-2-main-color, #2a3647);
  /* Version 2/t6 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.card-modal-date-number {
  margin: 0;
  color: var(--black, #000);
  /* Version 2/t6 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.card-modal-date-number p {
  margin: 0;
}

.card-modal-priority {
  display: flex;
  align-items: center;
  gap: 25px;
  align-self: stretch;
}

.card-modal-priority h3 {
  margin: 0;
}

.card-modal-priority-letter {
  margin: 0;
  color: var(--Version-2-main-color, #2a3647);
  /* Version 2/t6 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.card-modal-priority-symbol {
  display: flex;
  padding: 4px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.card-modal-contacts {
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}

.card-modal-assigned-to-headline {
  margin: 0;
  align-self: stretch;
  color: var(--Version-2-main-color, #2a3647);
  /* Version 2/t6 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.card-modal-initial-container {
  width: 100%;
}

.card-modal-contacts-container {
  width: 100%;
}

.card-modal-contact {
  height: 42px;
  display: flex;
  padding: 7px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.card-modal-contact-and-image {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card-modal-name {
  margin: 0;
  color: #000;

  /* Version 2/t6 */
  font-family: "Open Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 22.8px */
}

.card-modal-bottom {
  width: 220px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-modal-profile-badge {
  position: relative;
  margin-left: -8px;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 45px;
  background: #fff;
}

.card-modal-priority-symbol {
  margin: 0;
  display: flex;
  width: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-modal-subtasks-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}

.card-modal-subtasks-container-headline {
  margin: 0;
  align-self: stretch;
  color: var(--Version-2-main-color, #2a3647);
  /* Version 2/t6 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.card-modal-subtasks {
  height: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.card-modal-subtask-maincontainer {
  display: flex;
  height: 20px;
  padding: 6px 16px;
  align-items: center;
  gap: 16px;
}

.card-modal-subtask-checked {
  display: flex;
  height: 32px;
  align-items: center;
  gap: 16px;
}

.card-modal-subtask-checked img {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 4px;
  justify-content: center;
  align-items: center;
}

.card-modal-subtask {
  display: flex;
  height: 32px;
  align-items: center;
  gap: 16px;
}

.card-modal-subtask img {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.card-modal-subtask-description {
  color: #000;

  /* Version 2/body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.card-modal-edit-and-delete-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.card-modal-edit-and-delete-container p {
  margin: 0;
}

.card-modal-delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card-modal-devider {
  width: 0px;
  height: 24px;
  stroke-width: 1px;
  stroke: var(--Style, #d1d1d1);
}

.card-modal-edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.dateInput {
  height: 34px;
  font-size: 17px;
}

.card-modal-priority-options-container {
  top: 26px;
  position: absolute;
  z-index: 1001;
  width: 100%;
}

.card-modal-priority-options-container button {
  width: 100%;
}

.contact-dropdown-menu {
  width: 100%;
  /*height: 216px;*/
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--Style, #d1d1d1);
  border-radius: 10px;
  overflow-y: auto;
  z-index: 1;
  display: block;
}

.board-column-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-sizing: border-box;
	border-radius: 20px;
}