body {
    margin: 0;
    background-color: rgb(246, 247, 248);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#contactModal {
    width: 1212px;
    height: 592px;
    border-radius: 30px;
    background: #fff;
    margin: 0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
}

#bluebar{
    display: inline-flex;
    height: 594px;
    width: 38%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    background:#2A3647;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.bluebar_joinlogo{
    width: 55.6px;
    height: 66.483px;
    position: absolute;
    left: 46.904px;
    top: 154px;
}

.bluebar_titel{
    margin-left: auto;
    margin-right: auto;
    color:#FFF;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */
}

.bluebar_text{
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 32.4px */
}

.bluebar_line{
    margin-left: 48px;
    margin-right: auto;
    margin-bottom: -50px;
    stroke-width: 3px;
    stroke: #29ABE2;
}

.avatar_contactModal {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
    margin-left: 83px;
    gap: 10px;
    border-radius: 70px;
    border: 3px solid #FFF;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    width: 120px;
    height: 120px;
}

.close_button1{
    display: flex;
    position: absolute;
    top: 48px;
    right: 48px;
    width: 32px;
    height: 32px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 56px;
}

.form_container {
    position: absolute;
    top: 155px;
    right: 60px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.textfield_newcontact {
    display: flex;
    width: 380px;
    padding: 13px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.textfield_newcontact::placeholder {
    color: #D1D1D1;
}

.input_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.textfield_image {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.close_button2{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--Version-2-main-color, #2A3647);
}

.createcontact_button{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #2A3647;
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 25.2px */
}

.button_container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.createcontact_button img{
    width: 24px;
    height: 24px;
}

.close_button1, .close_button2, .createcontact_button:hover {
    cursor: pointer;
}
  
.modal-headline {
    margin-top: 64px;
    margin-left: 74px;
    width: 466px;
    height: 78px;
    color: #000;
    margin-bottom: 32px;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */
}

.contacts_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 456px;
    height: 100vh;   
    background-color: white;
    margin-left: 232px;
}

.add_new_conatct_btn_container{
    display: flex;
    width: 456px;
    padding: 22.5px 52px;
    justify-content: center;
    align-items: center;
}

.add_new_contact_btn {
    display: flex;
    width: 352px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 25.2px */
}

.add_new_contact_btn:hover {
    cursor: pointer;
}

.initial_letter{
    display: flex;
    padding: 17px 90px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.line {
    display: flex;
    padding: 17px 36px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 3px;
    align-self: stretch;
    stroke-width: 1px;
    stroke: #D1D1D1;
}

.contactentry {
    display: flex;
    width: 352px;
    padding: 15px 24px;
    align-items: flex-start;
    gap: 35px;
    border-radius: 10px;
    background: #FFF;
    margin-left: 50px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 42px;
    height: 42px;
}

.avatar img {
    width: 42px;
    height: 42px;
}

.avatar_initletter {
    position: absolute; 
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
}

.contactentry_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.contactentry_name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.contactentry_email{
    color: #007CEE;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.contact_title{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-top: 110px;
    margin-left: 110px;
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */
}

.contact_title_text{
    color: #2A3647;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 32.4px */
    text-align: center;
}

.verticalbar img{
    width: 0px;
    height: 59px;
    stroke-width: 3px;
    fill: #29ABE2;
}

#contact_title {
    float: left;
}

.contacts_container {
    float: left;
}