p, li {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;

}

.content {
  margin-left: 328px;
  margin-top: 110px;
  width: calc(100% - 422px);
 
}

.content h1 {
  font-family: 'Inter';
  font-size: 61px;
  font-weight: 700;
  margin-block: unset;
}

.content h2 {
  font-family: 'Inter';
  font-size: 27px;
  font-weight: 700;
  margin-block: unset;
}

.content h3 {
  margin-block: unset;
  margin-top: 8px;
}

.content a {
  text-decoration: none;
  color: #29abe2;
}

.content a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content p {
  margin-block: unset;
  margin-bottom: 24px;
}

.blue {
  color: #29abe2;
}

.backArrowLegal {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

.backArrowLegal:hover {
  cursor: pointer;
  background-color: #eeeeee;
  transform: scale(1.1);
}