body {
    margin: 0;
    background-color: rgb(246, 247, 248);
}

.summary {
    display: flex;
    margin-left: 250px;
}

.header_summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 110px;
    margin-bottom: 48px;
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */
    margin-left: 350px;
}

.header_summary .verticalbar {
    margin-left: 30px;
    margin-right: 30px;
}

.verticalbar img{
    width: 0px;
    height: 59px;
    stroke-width: 3px;
    fill: #29ABE2;
}

.header_summary_text{
    color: #2A3647;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 32.4px */
}

.summary_container {
    display: flex;
    justify-content: flex-start;
    gap: 200px;
}

.boxs_box{
    display: flex;
    width: 560px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    margin-left: 350px;
}

.box_pencil{
    display: flex;
    width: 264px;
    height: 168px;
    padding: 38px 19px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.box_icon img{
    width: 69px;
    height: 69px;
}

.box_number{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 76.8px */
}

.box_text{
    color: #2A3647;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.column_container {
    display: flex;
    flex-direction: column;
}

.boxs_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.box_check{
    display: flex;
    width: 264px;
    height: 168px;
    padding: 38px 19px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.boxs_center{
    display: flex;
    justify-content: column;
    align-items: center;
}

.box_urgency{
    display: flex;
    width: 545px;
    height: 168px;
    padding: 28px 48px;
    justify-content: center;
    align-items: center;
    gap: 61px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.box_urgency_verticalbar img{
    width: 0px;
    height: 102.023px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #D1D1D1;
}

.box_urgency_date{
    color: #2A3647;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 25.2px */
    margin-bottom: 13px;
}

.box_urgency_deadline{
    color: #2A3647;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.boxs_down{
    display: flex;
    padding: 1px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
}

.box_small{
    display: flex;
    width: 195px;
    height: 168px;
    padding: 25px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.box_small_number{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 76.8px */
}

.box_small_text{
    color: #2A3647;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.box_small_text2{
    color: #2A3647;
    text-align: center;
    font-family: "OpenSans";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 25.2px */
}

.right_textbox{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.right_textgray{
    color: #2A3647;
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 56.4px */
}

.right_textlightblue{
    color: #29ABE2;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
}