<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/fonts/inter.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <div class="header_text">Kanban Project Management Tool</div>
        <div class="icon_box">
            <div class="help_icon"><img src="/img/help.svg"></div>
            <div class="avatar_icon"><img src="/img/dummy_avatar.svg"></div>
        </div>
    </div>
</body>
</html>