body{
    margin: 0;
}

.sideboard{
    position: fixed;
    top: 0; 
    left: 0;
    display: flex;
    width: 232px;
    height: 100%;
    padding: 64px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: #2A3647;
    box-sizing: border-box;
}

.join_logo{
    width: 100.034px;
    height: 121.966px;
    flex-shrink: 0;
}

.emptyspace{
    height: 150px;
}

.sidemenu_element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    padding: 15px 56px;
    gap: 8px;
}

.menu_links, a{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    text-decoration: none;
}

.menu_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.down{
    display: flex;
    padding: 243px 0px 0px 52px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.down_links{
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    color: #A8A8A8;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    text-decoration: none;
}

.sidemenu_element, .down_links{
    cursor: pointer;
}

/* Media Query für Geräte */
@media only screen and (max-width: 600px) {
    .sideboard{
        position: fixed;
        bottom: 80px;
        top: auto;
        left: auto;
        width: 100vw;
        height: 80px;
        padding: 16px 0px;
        flex-direction: row;
        justify-content: space-around;
    }

    .join_logo, .join_logo img{
        display: none;
    }

    .menu_icons{
        width: 76px;
        height: 35px;
    }

    .sidemenu_element{
        padding: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .down{
        display: none;
    }
}